---
title: "Layton Mom's club"
---
<!DOCTYPE html>
<html>
<head>
  <title>Site Title {% if page.url != '/index.html' %}| {{page.title}}{% endif %}</title>
  <meta charset='UTF-8'/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel='alternate' type='application/rss+xml' title='RSS' href='SITEURLGOESHERE/blog.rss' />
  <link rel='shortcut icon' href='{{site.baseurl}}/img/sprite.svg' type='image/x-icon' />
  <link href='{{site.baseurl}}site.css' rel='stylesheet' />
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">

</head>
<body>
  <div class='container-responsive'>

    <nav class="gray lighten-4" role="navigation">
      <div class="nav-wrapper container">
        <a href="{{site.baseurl}}/" class="brand-logo">{{page.title}}</a>
      </div>
    </nav>

    {{content}}

    <div class="contact">

      <iframe src="https://docs.google.com/forms/d/18e71eUU_zdcnWu21ghStGkVvJy1mBcfMgKWmudVMvzg/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>
  </div>
  <script src='{{site.baseurl}}vendor.js'></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
  <script src='{{site.baseurl}}site.js'></script>

</body>
